<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link href="/css/index.css" rel="stylesheet">

    <title>BMS softwares</title>
</head>

<body class="fadeIn">
    <div class="container">
        <%- include('components/navbar'); %>
            <div class="container">
                <h2>Seguimentos e Geral</h2>
                <div id="linha"></div>
                <div class="container mb-5">
                    <h3>Clique sobre, e conheça mais sobre seu seguimento!</h3>
                </div>
            </div>
            <div class="container imagem-slide">
                <a href="#section1" class="imagem bmsnfe img-responsive">
                    <p>Marmo./Marcenaria/Vidraçaria</p>
                </a>
                <a href="#section2" class="imagem despachante img-responsive">
                    <p>BMS Despachante</p>
                </a>
                <a href="#section3" class="imagem terraplanagem img-responsive">
                    <p>BMS Terraplanagem</p>
                </a>
                <a href="#section4" class="imagem mecanica img-responsive">
                    <p>BMS Auto Mecânica</p>
                </a>
                <a class="imagem petshop img-responsive">
                    <p>BMS Pet Shop</p>
                </a>
            </div>
            <div id="section1" class="container  mb-5 mt-5">
                <h2>BMS NFe</h2>
                <div id="linha"></div>
                <div class="container mb-5">
                    <h3>Conheça o seguimento para marmoraria, marcenaria e vidraçaria!</h3>
                </div>
            </div>
            <p>O sistema BMS NFe trás agilidade e praticidade na hora de fazer a gestão da sua marmoraria,
                marcenaria ou vidraçaria,
                é um sistema simples e prático para cadastrar seus clientes e produtos, fazer vendas com recibos,
                relatórios, controle de estoque e
                controle financeiro das contas a pagar e a receber... Contamos também com a emissão de NFe e NFCe
                trazendo tambem
                tranquilidade na questão fiscal</p>
            <div class="container imagem-slide">
                <div class="imagem nfeCad img-responsive">
                    <p>Cadastros</p>
                </div>
                <div class="imagem nfeVenda img-responsive">
                    <p>Vendas</p>
                </div>
                <div class="imagem nfeFinan img-responsive">
                    <p>Financeiro</p>
                </div>
            </div>
            <div class="container mb-5 mt-5">
                <h2>Vendas!</h2>
                <div id="linha"></div>
            </div>
            <div class="container principal">
                <div class="container img-principal">
                    <img class="img-responsive" src="/images/PedidoMTQ2.png" alt="">
                </div>
            </div>
            <p style="margin-top: 10px;">O sistema consta com pedido de venda (tanto para orçamentos, quanto para
                efetivar vendas) em metro quadrado e em linear, basta optar de acordo com seu estilo de venda!
                Nele, é possível informar os valores de altra e largura que os calculos são feitos automaticamente,
                gerando recibos e documentos em diferentes modelos para que possa efetivar a venda com o cliente.
                Com isso o sistema trás praticidade e agilidade no seu dia a dia.
            </p>
            <div class="container mb-5 mt-5">
                <h2>NF-e, NFC-e e MDF-e!</h2>
                <div id="linha"></div>
            </div>
            <div class="container imagem-slide">
                <div class="imagem nfe-NFE img-responsive">
                    <p>NF-e</p>
                </div>
                <div class="imagem nfce-NFE img-responsive">
                    <p>NFC-e</p>
                </div>
                <div class="imagem mdfe-NFE img-responsive">
                    <p>MDF-e</p>
                </div>
            </div>
            <ul style="margin-top: 10px;">
                <li><strong>NF-e: </strong>O software consta com a parte para emissão de Nota Fiscal Eletrônica
                    (NF-e), o sistema
                    consegue comunicar com a sefaz através dos dados da empresa e do certificado A1 e A3.
                    Consta com relatório de do xml, para controle contabil.
                </li>
                <li><strong>NFC-e: </strong>O software consta com a parte para emissão de Nota Fiscal do Consumidor
                    Eletrônica (NFC-e), o sistema
                    consegue comunicar com a sefaz através dos dados da empresa e do certificado A1 e A3.
                    A emissão é feita de forma rápida, sem necessidade de informações do destinatário.
                    Consta com relatório de do xml, para controle contabil.</li>
                <li><strong>MDF-e: </strong>O Manifesto Eletrônico de Documentos Fiscais (MDFe), é um
                    documento fiscal eletrônico, de existência apenas digital, que deve ser emitido para acobertar
                    operações de transporte de mercadorias.
                    Sua principal função é compilar as informações contidas nas Notas Fiscais eletrônicas (NFe)
                    modelo 55 e Conhecimentos de Transporte eletrônicos (CTe) modelo 57 relacionadas àquele
                    transporte, agilizando o processo de fiscalização.</li>
            </ul>
            <div class="container mb-5 mt-5">
                <h2>Financeiro (caixa)!</h2>
                <div id="linha"></div>
            </div>
            <div class="container principal">
                <div class="container img-principal">
                    <img class="img-responsive" src="/images/caixa_NFE.png" alt="">
                </div>
            </div>
            <p> Dentro do sistema ele consta com a aba própria para controle de
                caixa, onde e possível ver
                o fluxo de entradas, saidas e sangria, realizar fechamento de caixa e estar sempre no
                controle da questão fineceira!</p>



            <div id="section2" class="container  mb-5 mt-5">
                <h2>BMS Despachante</h2>
                <div id="linha"></div>
                <div class="container mb-5">
                    <h3>Conheça o seguimento perfeito para despachante!</h3>
                </div>
            </div>
            <p>O sistema BMS despachante trás agilidade e praticidade na hora de fazer a gestão da seu negócio,
                é um sistema simples e prático para cadastrar seus clientes,veiculos (vincular clientes e veiculos) e
                produtos, fazer vendas e ordens de serviços com recibos, relatórios, controle de estoque e
                controle financeiro das contas a pagar e a receber... Contamos também com a emissão de NFe trazendo
                também tranquilidade na questão fiscal</p>
            <div class="container imagem-slide">
                <div class="imagem despachanteCad img-responsive">
                    <p>Cadastros</p>
                </div>
                <div class="imagem despachanteVenda img-responsive">
                    <p>Vendas</p>
                </div>
                <div class="imagem despachanteFinan img-responsive">
                    <p>Financeiro</p>
                </div>
            </div>
            <div class="container mb-5 mt-5">
                <h2>Vendas e serviços!</h2>
                <div id="linha"></div>
            </div>
            <div class="container imagem-slide">
                <div class="imagem nfe-despachante img-responsive">
                    <p>NF-e</p>
                </div>
                <div class="imagem pedVenda-despachante img-responsive">
                    <p>Pedido de venda</p>
                </div>
                <div class="imagem ordemServiço-despachante img-responsive">
                    <p>Ordem de serviço</p>
                </div>
            </div>
            <ul style="margin-top: 10px;">
                <li><strong>NF-e: </strong>O software consta com a parte para emissão de Nota Fiscal Eletrônica
                    (NF-e), o sistema
                    consegue comunicar com a sefaz através dos dados da empresa e do certificado A1 e A3.
                    Consta com relatório de do xml, para controle contabil.
                </li>
                <li><strong>Pedido de venda: </strong>O sistema consta com pedido de venda,
                    gerando recibos e documentos em diferentes modelos para que possa efetivar a venda com o cliente.
                    Com isso o sistema trás praticidade e agilidade no seu dia a dia.</li>
                <li><strong>Ordem de serviços: </strong> O sistema consta com o documento que formaliza o serviço a ser
                    prestado (ordem de serviço) para um
                    cliente e serve como ponto de partida para a organização do trabalho.
                    Com ela, as empresas prestadoras de serviços conseguem se planejar e organizar as demandas para o
                    atendimento, mantendo o fluxo de trabalho sob controle.</li>
            </ul>
            <div class="container mb-5 mt-5">
                <h2>Financeiro (caixa)!</h2>
                <div id="linha"></div>
            </div>
            <div class="container principal">
                <div class="container img-principal">
                    <img class="img-responsive" src="/images/despachante_caixa.png" alt="">
                </div>
            </div>
            <p> Dentro do sistema ele consta com a aba própria para controle de
                caixa, onde e possível ver
                o fluxo de entradas e saidas, realizar fechamento de caixa e estar sempre no
                controle da questão fineceira!</p>




            <div id="section3" class="container  mb-5 mt-5">
                <h2>BMS Terraplanagem</h2>
                <div id="linha"></div>
                <div class="container mb-5">
                    <h3>Conheça o seguimento perfeito para terraplanagem!</h3>
                </div>
            </div>
            <p>O sistema BMS terraplanagem trás agilidade e praticidade na hora de fazer a gestão da seu negócio,
                é um sistema simples e prático para cadastrar seus clientes e
                produtos, fazer vendas e ordens de serviços sobre a locação de equipamentos, de acordo com o tipo de
                locação (hora, kilomêtro e etc.) com recibos, relatórios, controle de estoque e
                controle financeiro das contas a pagar e a receber... Contamos também com a emissão de NFe trazendo
                também tranquilidade na questão fiscal</p>
            <div class="container imagem-slide">
                <div class="imagem terraCad img-responsive">
                    <p>Cadastros</p>
                </div>
                <div class="imagem terraVendas img-responsive">
                    <p>Vendas</p>
                </div>
                <div class="imagem terraFinan img-responsive">
                    <p>Financeiro</p>
                </div>
            </div>
            <div class="container mb-5 mt-5">
                <h2>Vendas e serviços!</h2>
                <div id="linha"></div>
            </div>
            <div class="container imagem-slide">
                <div class="imagem nfe-terra img-responsive">
                    <p>NF-e</p>
                </div>
                <div class="imagem os-terra img-responsive">
                    <p>Ordem de serviço</p>
                </div>
            </div>
            <ul style="margin-top: 10px;">
                <li><strong>NF-e: </strong>O software consta com a parte para emissão de Nota Fiscal Eletrônica
                    (NF-e), o sistema
                    consegue comunicar com a sefaz através dos dados da empresa e do certificado A1 e A3.
                    Consta com relatório de do xml, para controle contabil.
                </li>
                <li><strong>Ordem de serviços: </strong> O sistema consta com o documento que formaliza o serviço a ser
                    prestado (ordem de serviço) para um
                    cliente e serve como ponto de partida para a organização do trabalho. .
                    Com ela, as empresas prestadoras de serviços conseguem se planejar e organizar as demandas para o
                    atendimento, mantendo o fluxo de trabalho sob controle.Para a terra plannagem ele
                    consta com a locação de equipamentos por diferentes formas (hora, kilomêtro e etc.)</li>
            </ul>
            <div class="container mb-5 mt-5">
                <h2>Financeiro (caixa)!</h2>
                <div id="linha"></div>
            </div>
            <div class="container principal">
                <div class="container img-principal">
                    <img class="img-responsive" src="/images/caixa_terraplanagem.png" alt="">
                </div>
            </div>
            <p> Dentro do sistema ele consta com a aba própria para controle de
                caixa, onde e possível ver
                o fluxo de entradas e saidas realizar fechamento de caixa e estar sempre no
                controle da questão fineceira!</p>



                <div id="section4" class="container  mb-5 mt-5">
                    <h2>BMS Auto mecânica</h2>
                    <div id="linha"></div>
                    <div class="container mb-5">
                        <h3>Conheça o seguimento perfeito para Auto mecânica!</h3>
                    </div>
                </div>
                <p>O sistema BMS Auto mecânica trás agilidade e praticidade na hora de fazer a gestão da seu negócio,
                    é um sistema simples e prático para cadastrar seus clientes e
                    produtos, fazer vendas e ordens de serviços com recibos, relatórios, controle de estoque e
                    controle financeiro das contas a pagar e a receber... Contamos também com a emissão de NFe  e NFCe trazendo
                    também tranquilidade na questão fiscal</p>
                <div class="container imagem-slide">
                    <div class="imagem autoCad img-responsive">
                        <p>Cadastros</p>
                    </div>
                    <div class="imagem autoVendas img-responsive">
                        <p>Vendas</p>
                    </div>
                    <div class="imagem autoFinan img-responsive">
                        <p>Financeiro</p>
                    </div>
                </div>
                <div class="container mb-5 mt-5">
                    <h2>Vendas e serviços!</h2>
                    <div id="linha"></div>
                </div>
                <div class="container imagem-slide">
                    <div class="imagem nfe-terra img-responsive">
                        <p>NF-e</p>
                    </div>
                    <div class="imagem os-terra img-responsive">
                        <p>Ordem de serviço</p>
                    </div>
                </div>
                <ul style="margin-top: 10px;">
                    <li><strong>NF-e: </strong>O software consta com a parte para emissão de Nota Fiscal Eletrônica
                        (NF-e), o sistema
                        consegue comunicar com a sefaz através dos dados da empresa e do certificado A1 e A3.
                        Consta com relatório de do xml, para controle contabil.
                    </li>
                    <li><strong>Ordem de serviços: </strong> O sistema consta com o documento que formaliza o serviço a ser
                        prestado (ordem de serviço) para um
                        cliente e serve como ponto de partida para a organização do trabalho. .
                        Com ela, as empresas prestadoras de serviços conseguem se planejar e organizar as demandas para o
                        atendimento, mantendo o fluxo de trabalho sob controle.Para a terra plannagem ele
                        consta com a locação de equipamentos por diferentes formas (hora, kilomêtro e etc.)</li>
                </ul>
                <div class="container mb-5 mt-5">
                    <h2>Financeiro (caixa)!</h2>
                    <div id="linha"></div>
                </div>
                <div class="container principal">
                    <div class="container img-principal">
                        <img class="img-responsive" src="/images/caixa_terraplanagem.png" alt="">
                    </div>
                </div>
                <p> Dentro do sistema ele consta com a aba própria para controle de
                    caixa, onde e possível ver
                    o fluxo de entradas, saidas e sangria, realizar fechamento de caixa e estar sempre no
                    controle da questão fineceira!</p>
    
            <%- include('components/formulario'); %>
                <%- include('components/footer'); %>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <script src='http://code.jquery.com/jquery-2.1.3.min.js'></script>
    <script src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js'></script>
    <script>
        $(function () {
            $('.dropdown-toggle').dropdown();
        });
    </script>
</body>

</html>