<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
  <link href="/css/index.css" rel="stylesheet">

  <title>BMS softwares</title>
</head>

<body class="fadeIn">
  <div class="container">
    <%- include('components/navbar'); %>
      <div class="container">
        <div class="container">
          <h2>Winfit SAAT</h2>
          <div id="linha"></div>
          <div class="container mb-5">
            <h3>Conheça nosso software agrônomico!</h3>
          </div>
        </div>
        <p>Emitir receitas agronômicas nunca foi tão fácil e seguro. Faça como a maioria dos agrônomos e opte pela BMS,
          que fornece informação
          atualizada e toda dinâmica de cadastro dos defensivos agrícolas. Nosso receituário agronômico fornece
          informações para controle
          fitossanitário, com várias formas de busca e relatórios completo, que facilita envios para diversos orgãos em
          varios estados,
          essa praticidade facilita o controle na emissão dos resceituarios e evita notificações.</p>
        <div class="container principal">
          <div class="container img-principal">
            <img class="img-responsive" src="/images/principal.png" alt="">
          </div>
        </div>
        <p style="margin-top: 10px;">O winfit SAAT consta com mais de 2500 produtos, entre registrados e em fase de
          registro, todas informações.
          Os produtos contém diversas informações como, aplicação por cultura, indicações, modalidades de aplicação e
          restrições por estado.
          Os produtos também constam com a faixa de classe toxicológica, para fácil identificação assim que pesquisar
          pelo produto, também consta
          com as fichas de emergência, bula e o FISPQ.
        </p>
        <div class="container mb-5 mt-5">
          <h2>Nosso Compêndio!</h2>
          <div id="linha"></div>
        </div>
        <div class="container principal">
          <div class="container img-principal">
            <img class="img-responsive" src="/images/tela_inicial.png" alt="">
          </div>
        </div>
        <P style="margin-top: 10px;">Nosso banco de dados consta com uma vasta quantidade de informações para trazer
          facilidade
          no dia à dia durante a emissão de receitas e consultas.
          O compêndio é atualizado diariamente com as informações liberadas no DOU (Diário Oficial da União), tanto com
          informações para
          consultas (como culturas, diagnóstico e problemas), quanto informações gerais sobre os agrotóxicos para
          emissão do receituario
        </P>
      </div>
      <div class="container mb-5 mt-5">
        <h2>Consultas!</h2>
        <div id="linha"></div>
      </div>
      <div class="container imagem-slide">
        <div class="imagem imagem1 img-responsive">
          <p>Problemas</p>
        </div>
        <div class="imagem imagem2 img-responsive">
          <p>Culturas</p>
        </div>
        <div class="imagem imagem3 img-responsive">
          <p>diagnóstico</p>
        </div>
      </div>
      <ul style="margin-top: 10px;">
        <li>
          <strong>Problemas:</strong> Consta com uma série de informações, desde nome cientifico, até imagens e videos
          da praga,
          para melhor identificação e tomar a melhor decisão.
        </li>
        <li>
          <strong>Culturas:</strong>: Também é possível consultar diversas informações sobre as culturas, informações
          gerais, que constam
          com fotos, também consta com os problemas por culturas, e também os agrotoxicos por cada cultura.
        </li>
        <li>
          <strong>diagnósticos:</strong>:Os diagnósticos pode ser consultados atráves das culturas, dessa forma facilita
          na identificação
          do melhor produto para tratamento do problema.
        </li>
      </ul>
      <div class="container">
        <div class="container mb-5 mt-5">
          <h2>Cadastros!</h2>
          <div id="linha"></div>
        </div>
        <div class="container imagem-slide">
          <div class="imagem cliente img-responsive">
            <p>Clientes</p>
          </div>
          <div class="imagem fornecedor img-responsive">
            <p>fornecedor</p>
          </div>
          <div class="imagem resp-tecnico img-responsive">
            <p>Resp. Tecnico</p>
          </div>
        </div>
        <div class="container">
          <ul style="margin-top: 10px;">
            <li>
              <strong>Clientes:</strong> É possível realizar cadastros de clientes de forma rápida e completa,
              para que os dados no receituario, de acordo com os orgãos fiscalizadores do seu estado!<br>
              Dentro do cadastro de clientes pode-se adicionar inúmeras propriedades do demais, para pode especificar
              dentro do receituario.
            </li>
            <li>
              <strong>fornecedor:</strong> O cadastro de fornecedores é feito para que você tenha um controle maior
              momento em que você utiliza o estoque.
              Dessa forma voce terá sempre em mãos dados sore produtos adiquiridos e de quais fornecedores.
            </li>
            <li>
              <strong>Responsável Tecnico:</strong> Cadastrando respopnsáveis tecnicos, você permite que varios possam
              emitir receituario
              dentro do sistema, dentro de cada cadastro será possível informar número de ART (caso seja um eng.
              Agronômo) ou número de TRT (caso seja
              um tecnico em agricola),numero de receita inicial, e quatidade de receita por ART/TRT.<br>
              Com isso, dentro da pesquisa das receitas poderá ter um controle sobre as receitas de cada responsável
              tecnico.
            </li>
          </ul>
        </div>
        <div class="container">
          <div class="container mb-5 mt-5">
            <h2>Controle de estoque!</h2>
            <div id="linha"></div>
          </div>
          <div class="container principal">
            <div class="container img-principal">
              <img class="img-responsive" src="/images/controle_de_estoque.png" alt="">
            </div>
          </div>
          <p style="margin-top: 10px;">No controle de estoque é possível realizar movimentações de entrada, para que seu
            estoque seja sempre atualizado
            de acordo com o estoque fisico que contém, neçe também são gravadas as movimentações de saída realizada as
            receitas,
            possibilitando gerenciar relatórios completos e a quatidade de produtos disponíves.</p>
        </div>
        <div class="container">
          <div class="container mb-5 mt-5">
            <h2>Receita agronômica!</h2>
            <div id="linha"></div>
          </div>
          <div class="container imagem-slide">
            <div class="imagem receita1 img-responsive">
              <p>Info. Do cliente/Resp. Tecnico</p>
            </div>
            <div class="imagem receita2 img-responsive">
              <p>Info. Produtos</p>
            </div>
            <div class="imagem receita3 img-responsive">
              <p>Info. Tecnicas</p>
            </div>
          </div>
          <p style="margin-top: 10px;"> - A primeira parte da receita é composta pelas informações do responsável
            tecnico desejado,
            pelas informações do cliente cadastrado, e pos mensagens personalidas (opcional a adição).<br>
            - A segunda parte é composta pelas infomações do produto, essas informações são buscadas dentro do nosso
            compêndio.<br>
            - A terceira é pelas informações tecnicas do produto, como área a tratar, quantidade tipo de embalagem
            modalidade de aplicação entre outros.<br>
            Depois é so escolher o modelo de layout que deseja para impressão.
          </p>
        </div>
        <%- include('components/formulario'); %>
          <%- include('components/footer'); %>
      </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>
  <script src='http://code.jquery.com/jquery-2.1.3.min.js'></script>
  <script src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js'></script>
  <script>
    $(function () {
      $('.dropdown-toggle').dropdown();
    });
  </script>
</body>

</html>