<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
<div class="content">
</div>
    <footer class = "logos shadow-lg p-3 mb-5 bg-body rounded" id="myFooter">
        <div>
            <div class="row">
                <div class="col-sm-3">
                    <h2 class="logo"><img class="navbar-brand" src ="http://grupobms.com.br/wp-content/uploads/2020/04/logo-bms-1.png" alt = ""></img>
                    </h2>
                </div>
                <div class="col-sm-2">
                    <h5>Inicio</h5>
                    <ul>
                        <li><a href="">Home</a></li>
                        <li><a href="">Sistemas</a></li>
                        <li><a href="">Área do Cliente</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h5>Sobre-nós</h5>
                    <ul>
                        <li><a href="">Informações da Empresa</a></li>
                        <li><a href="">Contato</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h5>Suporte</h5>
                    <ul>
                        <li><a href="">Telefones</a></li>
                        <li><a href="">WhatsApp</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <div class="social-networks">
                        <a href="facebook.com" ><i class="fab fa-facebook-square"></i></a>
                        <a href="instagram.com" ><i class="fab fa-instagram"></i></a>
                    </div>
                    <a href="">
                        <button class="btn1 btn btn-success" type="submit">Contato</button>
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <div id ="test"class="shadow-lg p-3 mb-5 bg-body rounded footer-copyright">
        <p>© 2021 Copyright BMS LTDA</p>
    </div>