<link href="/css/index.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<div class="container">
    <div class="container mb-5 mt-5">
        <h2>Entre em contato com a gente e tire suas duvidas!</h2>
        <div id="linha3"></div>
    </div>
    <div class="container formulario">
        <form id="formulario" autocomplete="off">
            <fieldset>
                <legend id="color-form"> Preencha o Formulário para nos contatar!</legend>
                <div id="linha"></div>
                <label for="exampleFormControlInput1" class="form-label">Nome:</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nome Sobrenome">
                <label for="exampleFormControlInput1" class="form-label">Email:</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nome@exemplo.com">
                <label for="exampleFormControlTextarea1" class="form-label">Assunto (adicione o nome do software de interesse):</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="exemplo: Winfit"></textarea>
                <button type="submit" value="Submit" class="btn btn-success mt-3">Enviar</button>
            </fieldset>

    </div>
</div>