<div>
    <div className = "container m-5">
      <h2 >Nossos Sistemas</h2>  
      <div id="linha"></div>
      <div className = "container">
        <h3>Escolha um segmento e conheça nossos softwares!</h3>
      </div>
    </div>
<div className = "container img-slide">
<div className="img img1">
  <p>Winfit SAAT</p>
</div>
<div className="img img2">
  <p>Gestão de empresas</p>
</div>
<div className="img img3">
  <p>Seguimentos gerais</p>
</div>
</div>
<div className ="container mt-10 mb-5">
<h2> O Grupo BMS</h2>
<div id="linha2"></div>

</div>
<div className ="container">
<div className="card mb-3">
<div className="row no-gutters">
<div className="col-md-4 embed-responsive embed-responsive-16by9">
<img src="..." class="card-img" alt="..."/>
</div>
<div className="col-md-8">
<div className="card-body">
  <p className="card-text">O Grupo BMS foi fundado em 1997 por um grupo de professores egressos da Universidade Federal de Viçosa – UFV – MG. No início, a empresa contou com um incentivo da instituição através do projeto de incubadoras de empresas. Após três anos a empresa desvinculou-se da Unidade Federal e se tornou independente com criação de uma sede própria.</p>
  <p>O Grupo BMS iniciou suas atividades na áreas de desenvolvimento de softwares inovadores voltados à agricultura, veterinária, agrobusiness e áreas correlatadas.</p>
  <p>Posteriormente identificou a oportunidade de trabalhar com softwares na áreas de gestão das micro e pequenas empresas. Assim, iniciou-se o processo de expansão para o desenvolvimento de soluções completas a preços acessíveis, que atendessem a estes mercados.</p>
  <a href="#" class="btn btn-primary">Saiba mais sobre a BMS</a>
</div>
</div>
</div>
</div>

</div>
</div>